<h2><%= @user.name %>さんのフォロー</h2>
<table class="table table-striped table-inverse">
  <thead>
    <tr>
      <th>プロフィール画像</th>
      <th>名前</th>
      <th>フォロー状況</th>
      <th>ユーザーページ</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
    <tr>
      <td><%= attachment_image_tag user, :profile_image, format: "png", fallback: "noimage.png", size: "50x50" %></td>
      <td><%= user.name %></td>
      <td id="follow_btn_<%= user.id %>">
         <%= render partial: 'relationships/relationship', locals: {user: user} %>
      </td>
      <td><%= link_to "詳細", user_path(user.id), class:"btn btn-info btn-lg" %>
      </td>
    </tr>
   <% end %>
  </tbody>
</table>
