<div class="message_chat" id="<%= chat.id %>">
  <% if chat.user == current_user %>
    
    <div class="mycomment">
    <%= simple_format(chat.message) %></br>
    <%= chat.created_at.strftime('%Y-%m-%d %H:%M') %>
    </div>
   
    <div class="chat_delete">
       <button id="<%= chat.id %>" class="delete-btn btn btn-danger mr-5">コメントを削除</button>
    </div>
   <% else %>
   <div class="fukidasi">
    
      <div style="text-align: left;">
       <%= chat.user.name %>
      </div>
     
      <div class="faceicon">
      <%= attachment_image_tag chat.user, :profile_image, class:"user_image-attachment", format: 'png', fallback: "noimage.png", size: "40x40" %>
      </div>
      <div class="chatting">
       <div class="says">
        <%= simple_format(chat.message) %></br>
       </div>
       <%= chat.created_at.strftime('%Y-%m-%d %H:%M') %>
      </div>
   </div>
   <% end %>
</div>
  
   