<main class="chat-index-main">
  <div class="container">
     <h2 style="text-align: center; margin-top: 3px; color: #00FF00;"><%= @room.name %>の筋肉会話室</h2> 
       <div style="text-align: right;"><%= link_to participants_room_path(@room.id), class:"btn btn-primary" do %>
            参加人数<%= @room.user_rooms.count %>
           <% end %></div>
   <div id="messages", data-room_id="<%= @room.id %>"></div>
   <div class="chat_box">
   <div id="chats">
     <%= render @chats %>
   </div>
   </div>
  <div class="row">
    <div class="col-8 mx-auto">
       <div id="outer_box">
           <div class="form-group">
          <%= text_area :message, "hoge", 'data-behavior': 'chat_speaker', class: 'from-control', style: 'margin-bottom: 20px; width: 100%;' %>
          </div>
       </div>
    </div>
   </div>
      <div class="row">
          <div class="col-8 mx-auto mb-2">
            <%= button_tag 'コメントを送信', class: 'chat_submit btn btn-info btn-block' %>
          </div>
      </div>
  </div>
</main>