<h2><%= @room.name %>の参加者一覧</h2>
<table class="table table-striped table-inverse">
  <thead>
    <tr>
      <th>プロフィール画像</th>
      <th>名前</th>
      <th>フォロー状況</th>
      <th>ユーザーページ</th>
    </tr>
  </thead>
  <tbody>
    <% @user_rooms.each do |user_room| %>
    <tr>
      <td><%= attachment_image_tag user_room.user, :profile_image, format: "png", fallback: "noimage.png", size: "50x50" %></td>
      <td><%= user_room.user.name %></td>
       <% if user_room.user != current_user %>
      <td id="follow_btn_<%= user_room.user.id %>">
         <%= render partial: 'relationships/relationship', locals: {user: user_room.user} %>
      </td>
       <% else %>
      <td></td>
       <% end %>
      <td><%= link_to "詳細", user_path(user_room.user.id), class:"btn btn-info btn-lg" %>
      </td>
    </tr>
   <% end %>
  </tbody>
</table>
