        <div class="header">
            <div class="container">
                <div class="row">
                    <div class="logo col-xs-12">
                      <%= image_tag 'logo.png', :size => '150x75' %>
                   </div>
                </div>
            </div>
        </div>
        <div class="headerNav">
            <div class="container">
                <div class="row headerNavBox">
                    <!--会員がログインしたとき-->
                    <% if user_signed_in? %>
                    <p class="fas fa-bell col-sm-2", style="color:#000"> ようこそ、<strong><%= current_user.name %></strong> さん！</p>
                    <div class="col-xs-6 col-sm-2 headerNavBtn">
                        <%= link_to "フォロー一覧", following_user_path(current_user), class: 'btn btn-outline-secondary fas fa-users nav-link text-dark' %>
                    </div>
                     <div class="col-xs-6 col-sm-2 headerNavBtn">
                        <%= link_to "マイページ", user_path(current_user), class: 'btn btn-outline-secondary fas fa-user nav-link text-dark' %>
                    </div>
                     <div class="col-xs-6 col-sm-2 headerNavBtn">
                        　<%=link_to "ジム作成", new_room_path, class: 'btn btn-outline-secondary fas fa-plus-square nav-link text-dark' %>
                      </div>
                       <div class="col-xs-6 col-sm-2 headerNavBtn">
                         <%= link_to "ジム一覧", rooms_path, class: 'btn btn-outline-secondary fas fa-dumbbell nav-link text-dark' %>
                       </div>
                    <div class="col-xs-6 col-sm-2 headerNavBtn">
                      <%= link_to "ログアウト",  destroy_user_session_path, method: :delete, class: 'btn btn-outline-secondary fas fa-sign-out-alt nav-link text-dark' %>
                    </div>
                     <div class="mx-auto">
                       <%= form_with url: searchs_rooms_path, method: :get, local:true do |f| %>
                        <%= f.text_field :search, :placeholder =>"ジムを検索" %>
                        <%= f.submit "検索", class:"btn btn-info" %>
                        <% end %>
                     </div>
                <% else %>
                   <div class="col-xs-6 col-sm-2 headerNavBtn">
                   <%= link_to "新規登録", new_user_registration_path, class: 'btn btn-outline-secondary fas fa-user nav-link text-dark' %>
                 </div>
                  <div class="col-xs-6 col-sm-2 headerNavBtn">
                    <%= link_to "ログイン", new_user_session_path, class: 'btn btn-outline-secondary fas fa-user nav-link text-dark' %>
                  </div>
                <% end %>
                </div>
            </div>
        </div>
