<!DOCTYPE html>
<html>
  <head>
    <title>GymTomo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>
    <%= render "layouts/header" %>
      <% if flash[:notice] %>
      <div id="notice" class="alert alert-info m-0">
        <%= notice %>
        <button type="button" class="close" data-dismiss="alert">&times;</button>
      </div>
     <% end %>
    <%= yield %>
     <div class="push"></div>
      <footer class="text-dark border-top">
       <div class="container">
         <div class="row">
           <div class="mx-auto">
              <p>© ジムトモ</p>
            </div>
         </div>
      </div>
      </footer>
    <script>
    // document.addEventListener('turbolinks:before-visit', () => {
    // window.referrer = window.location.href;
    // }, false);
    </script>
  </body>
</html>
