<!DOCTYPE html>
<html>
  <head>
    <title>GymTomo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>
    <%= render "layouts/header" %>
    <%= yield %>
    
      <footer class="text-dark mt-3 border-top">
       <div class="container mt-5">
         <div class="row">
           <div class="mx-auto">
              <p>© ジムトレ</p>
            </div>
         </div>
      </div>
      </footer>
    <script>
    // document.addEventListener('turbolinks:before-visit', () => {
    // window.referrer = window.location.href;
    // }, false);
    </script>
  </body>
</html>
